pandas>=1.5
PyPDF2>=3.0
plotly>=5.10
wordcloud>=1.9
matplotlib>=3.7
streamlit>=1.27
transformers>=4.35
langdetect>=1.0.9
langcodes>=3.3
deep-translator>=1.11
requests>=2.31
supabase>=1.0
email-validator>=2.0.0
bycrypt>=4.1.2

